# Default variables for gpu-k8s role
sealos_version: latest
kubernetes_version: v1.25.16
cilium_version: v1.13.4
helm_version: v3.9.4
masters: []    # List of master hostnames
nodes: []      # List of worker hostnames
master_ips: []  # List of up to three master node IPs
node_ips: []    # List of worker node IPs
sealos_cmd_env: '{}'
kubeadm_init_cmd: "kubeadm init --skip-phases=addon/kube-proxy"
ssh_user: "{{ ansible_user | default('root') }}"
ssh_private_key: "{{ ansible_ssh_private_key_file | default('~/.ssh/id_rsa') }}"
