- name: Setup Nginx server
  hosts: localhost
  become: true
  vars:
    vhosts:
      - name: cn-homepage.svc.plus
        domain:
          - www.svc.plus
          - cn-homepage.svc.plus
        ssl_certificate: /etc/ssl/svc.plus.pem
        ssl_certificate_key: /etc/ssl/svc.plus.rsa.key
        root: /data/update-server/dashboard
        type: homepage-static
      - name: cn-artifact.svc.plus
        domain:
          - artifact.svc.plus
          - cn-artifact.svc.plus
        ssl_certificate: /etc/ssl/svc.plus.pem
        ssl_certificate_key: /etc/ssl/svc.plus.rsa.key
        root: /data/update-server
        type: artifact
  roles:
    - roles/vhosts/nginx/
