- name: Deploy blackbox exporter
  hosts: global-homepage.svc.plus
  become: true
  vars:
    hosts:
      - name: "www.svc.plus"
        path:
          - "/docs/"
          - "/download/"
          - "/login/"
          - "/logout/"
          - '/register/'
      - name: "cn-homepage.svc.plus"
        path:
          - "/docs/"
          - "/download/"
          - "/login/"
          - "/logout/"
          - '/register/'
      - name: "dl.svc.plus"
        path:
          - "/"
  roles:
    - roles/vhosts/common/
    - roles/vhosts/blackbox_exporter/
- name: Deploy blackbox exporter
  hosts: cn-homepage.svc.plus
  become: true
  vars:
    hosts:
      - name: "www.svc.plus"
        path:
          - "/docs/"
          - "/download/"
          - "/login/"
          - "/logout/"
          - '/register/'
      - name: "cn-homepage.svc.plus"
        path:
          - "/docs/"
          - "/download/"
          - "/login/"
          - "/logout/"
          - '/register/'
      - name: "dl.svc.plus"
        path:
          - "/"
  roles:
    - roles/vhosts/common/
    - roles/vhosts/blackbox_exporter/
