- name: setup OpenResty server
  hosts: cn-homepage.svc.plus
  become: true
  vars:
    vhosts:
      - name: cn-homepage.svc.plus
        domain:
          - www.svc.plus
          - cn-homepage.svc.plus
        ssl_certificate: /etc/ssl/svc.plus.pem
        ssl_certificate_key: /etc/ssl/svc.plus.rsa.key
        root: /data/update-server/dashboard
        type: homepage-static
      - name: cn-artifact.svc.plus
        domain:
          - artifact.svc.plus
          - cn-artifact.svc.plus
        ssl_certificate: /etc/ssl/svc.plus.pem
        ssl_certificate_key: /etc/ssl/svc.plus.rsa.key
        root: /data/update-server
        type: artifact
  roles:
    - roles/vhosts/OpenResty/
- name: setup OpenResty server
  hosts: global-homepage.svc.plus
  become: true
  vars:
    vhosts:
      - name: global-homepage.svc.plus
        domain:
          - www.svc.plus
          - global-homepage.svc.plus
        ssl_certificate: /etc/ssl/svc.plus.pem
        ssl_certificate_key: /etc/ssl/svc.plus.rsa.key
        root: /data/update-server/dashboard
        type: homepage-static
      - name: global-artifact.svc.plus
        domain:
          - artifact.svc.plus
          - global-artifact.svc.plus
        ssl_certificate: /etc/ssl/svc.plus.pem
        ssl_certificate_key: /etc/ssl/svc.plus.rsa.key
        root: /data/update-server
        autoindex_paths:
          - "/"
        type: artifact
  roles:
    - roles/vhosts/OpenResty/
